docs/*.md linguist-generated=true

# Configuration for 'git archive'
# see https://git-scm.com/docs/git-archive/2.40.0#ATTRIBUTES
# Stamp the version into the archive
esbuild/private/versions.bzl  export-subst
